<div nz-row>
    <div nz-col nzSpan="11">

        <nz-collapse nzAccordion class="ant-collapse-custom">
            <nz-collapse-panel [nzHeader]="headerTpl" [nzActive]="true">
                <ng-template #headerTpl>
                    <div class="applicant-header">
                        <span nz-icon nzType="user" nzTheme="outline"></span> Account Details
                    </div>
                </ng-template>
                <div class="box">
                    <!-- <nz-divider nzText="Account Details"></nz-divider> -->
                    <div nz-row>
                        <nz-form-item nz-col nzSpan="24">
                            <nz-form-control>
                                <nz-form-label nzRequired [nzNoColon]="true">Account Type</nz-form-label>
                                <nz-select [(ngModel)]="depositInfo.ACCOUNT_TYPE" (ngModelChange)="changeCatagory()">
                                    <nz-option [nzValue]="'A'" nzLabel="Saving"></nz-option>
                                    <!-- <nz-option [nzValue]="'B'" nzLabel="Janata Deposite"></nz-option> -->
                                    <nz-option [nzValue]="'C'" nzLabel="Current Account"></nz-option>
                                    <nz-option [nzValue]="'D'" nzLabel="Fixed Deposit"></nz-option>
                                    <nz-option [nzValue]="'E'" nzLabel="Fixed Deposit (Reinvestment)"></nz-option>
                                    <nz-option [nzValue]="'F'" nzLabel="Recurring Deposit"></nz-option>
                                    <nz-option [nzValue]="'G'" nzLabel="Pigmy Deposit"></nz-option>
                                    <nz-option [nzValue]="'H'" nzLabel="Other"></nz-option>
                                </nz-select>

                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item nz-col nzSpan="24">
                            <nz-form-control>
                                <nz-form-label nzRequired [nzNoColon]="true">Sub Account Type</nz-form-label>
                                <nz-select [(ngModel)]="depositInfo.SCHEME_CODE" (ngModelChange)="changeCatagory()">
                                    <nz-option *ngFor="let scheme of schemes" [nzValue]="scheme.SMP_CODE" [nzLabel]="scheme.SMP_NAME"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item nz-col nzSpan="24">
                            <nz-form-control>
                                <nz-form-label nzRequired [nzNoColon]="true">Mode of Operation</nz-form-label>
                                <nz-select [(ngModel)]="depositInfo.ACCOUNT_OPERATION">
                                    <nz-option *ngFor="let option of MASTERS[1].data" [nzValue]="option.OPRINSTID" [nzLabel]="option.OPRINSTDTLS"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>


                        <nz-form-item nz-col nzSpan="24">
                            <nz-form-control>
                                <nz-form-label nzRequired [nzNoColon]="true">Payment Instruction</nz-form-label>
                                <nz-select [(ngModel)]="depositInfo.PAYMENT_INSTRUCTION">
                                    <nz-option *ngFor="let option of MASTERS[2].data" [nzValue]="option.PAYINSTID" [nzLabel]="option.PAYINSTDTLS"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>

                    </div>
                </div>
            </nz-collapse-panel>
        </nz-collapse>

        <nz-collapse nzAccordion class="ant-collapse-custom">
            <nz-collapse-panel [nzHeader]="headerTpl1" [nzActive]="true">
                <ng-template #headerTpl1>
                    <div class="applicant-header">
                        <span nz-icon nzType="user" nzTheme="outline"></span> Initial Payment Details
                    </div>
                </ng-template>
                <div class="box">

                    <nz-form-item nz-col nzSpan="24">

                        <nz-form-label [nzNoColon]="true" nzRequired>Initial Amount </nz-form-label>
                        <nz-form-control>

                            <nz-input-group nzAddOnBefore="₹">
                                <input type="InitAmount" [(ngModel)]="depositInfo.INITIAL_AMOUNT" nz-input placeholder="Enter Initial Amount" />
                            </nz-input-group>

                        </nz-form-control>

                    </nz-form-item>


                    <nz-form-item nz-col nzSpan="24">

                        <nz-form-label [nzNoColon]="true">Mode of payment</nz-form-label>
                        <nz-radio-group [(ngModel)]="depositInfo.MODE_OF_PAYMENT">
                            <label nz-radio [nzValue]="'C'">Cash</label>
                            <label nz-radio [nzValue]="'T'">Cheque</label>
                        </nz-radio-group>
                    </nz-form-item>

                    <div nz-col nzSpan="24" *ngIf="depositInfo.MODE_OF_PAYMENT == 'T'">
                        <div nz-row>
                            <nz-form-item nz-col nzSpan="24">

                                <nz-form-label [nzNoColon]="true" nzRequired>Account Number</nz-form-label>
                                <nz-form-control>

                                    <nz-input-group>
                                        <input nz-input name="transAccount" [(ngModel)]="depositInfo.TRANSFER_ACCOUNT_NO" placeholder="Enter Account number" />
                                    </nz-input-group>

                                </nz-form-control>

                            </nz-form-item>

                            <nz-form-item nz-col nzSpan="12">

                                <nz-form-label [nzNoColon]="true" nzRequired>Bank Name</nz-form-label>
                                <nz-form-control>

                                    <nz-input-group>
                                        <input nz-input name="CHEQUE_BANK_NAME" [(ngModel)]="depositInfo.CHEQUE_BANK_NAME" placeholder="Enter Bank Name" />
                                    </nz-input-group>

                                </nz-form-control>

                            </nz-form-item>

                            <div nz-col nzSpan="1"></div>

                            <nz-form-item nz-col nzSpan="11">

                                <nz-form-label [nzNoColon]="true" nzRequired>Branch Name</nz-form-label>
                                <nz-form-control>

                                    <nz-input-group>
                                        <input nz-input name="CHEQUE_BRANCH_NAME" [(ngModel)]="depositInfo.CHEQUE_BRANCH_NAME" placeholder="Enter Branch Name" />
                                    </nz-input-group>

                                </nz-form-control>

                            </nz-form-item>

                            <nz-form-item nz-col nzSpan="16">

                                <nz-form-label [nzNoColon]="true" nzRequired>Cheque No.</nz-form-label>
                                <nz-form-control>

                                    <nz-input-group>
                                        <input nz-input name="Cheque" [(ngModel)]="depositInfo.CHAQUE_NO" placeholder="Cheque No." />
                                    </nz-input-group>

                                </nz-form-control>

                            </nz-form-item>

                            <div nz-col nzSpan="1"></div>

                            <nz-form-item nz-col nzSpan="7">

                                <nz-form-label [nzNoColon]="true" nzRequired>Dated</nz-form-label>
                                <nz-form-control>

                                    <nz-input-group>

                                        <input nz-input name="TRANSFER_DATE" mask="d0/M0/0000" [leadZeroDateTime]="true" [dropSpecialCharacters]="false" [(ngModel)]="depositInfo.TRANSFER_DATE" placeholder="dd/mm/yyyy">

                                    </nz-input-group>

                                </nz-form-control>

                            </nz-form-item>


                        </div>
                    </div>

                </div>
            </nz-collapse-panel>
        </nz-collapse>



    </div>

    <div nz-col nzSpan="1">
    </div>


    <div nz-col nzSpan="12" *ngIf="catagoryB">


        <nz-collapse nzAccordion class="ant-collapse-custom">
            <nz-collapse-panel [nzHeader]="headerTpl2" [nzActive]="true">
                <ng-template #headerTpl2>
                    <div class="applicant-header">
                        <span nz-icon nzType="user" nzTheme="outline"></span> Deposit Details
                    </div>
                </ng-template>
                <div class="box">
                    <nz-form-item nz-col nzSpan="24">

                        <nz-form-label [nzNoColon]="true" nzRequired>Deposit Amount </nz-form-label>
                        <br>
                        <nz-radio-group [(ngModel)]="depositInfo.DEPOSIT_FREQUANCY">
                            <label nz-radio [nzValue]="'O'">One Time</label>
                            <label nz-radio [nzValue]="'M'">Monthly</label>
                            <label nz-radio [nzValue]="'D'">Daily</label>
                        </nz-radio-group>

                    </nz-form-item>

                    <nz-form-item nz-col nzSpan="24">
                        <nz-form-control>

                            <div class="deposit">
                                <nz-input-group nzAddOnBefore="₹">
                                    <input nz-input name="depositAmt" [(ngModel)]="depositInfo.DEPOSIT_AMOUNT" placeholder="Enter Deposit Amount" />
                                </nz-input-group>
                            </div>

                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item nz-col nzSpan="10">

                        <nz-form-label [nzNoColon]="true" nzRequired>Rate of Interest</nz-form-label>
                        <nz-input-group nzAddOnAfter="% p.a.">
                            <input nz-input name="roi" [(ngModel)]="depositInfo.RATE_OF_INTEREST" disabled/>
                        </nz-input-group>
                    </nz-form-item>

                    <nz-form-item nz-col nzSpan="24">

                        <nz-form-label [nzNoColon]="true">Period</nz-form-label>

                        <nz-form-control>
                            <div nz-row>
                                <div nz-col nzSpan="7">
                                    <input nz-input name="day" [(ngModel)]="depositInfo.TANURE_DAYS" placeholder="Days" />
                                </div>
                                <div nz-col nzSpan="1">
                                </div>
                                <div nz-col nzSpan="7">
                                    <input nz-input name="month" [(ngModel)]="depositInfo.TANURE_MONTHS" placeholder="Months" />
                                </div>
                                <div nz-col nzSpan="1">
                                </div>
                                <div nz-col nzSpan="7">
                                    <input nz-input name="year" [(ngModel)]="depositInfo.TANURE_YEARS" placeholder="Years" />
                                </div>
                            </div>

                        </nz-form-control>

                    </nz-form-item>

                    <nz-form-item nz-col nzSpan="24">

                        <nz-form-label [nzNoColon]="true">Desired Interest Payout</nz-form-label>
                        <nz-form-control>

                            <nz-radio-group [(ngModel)]=" depositInfo.INTEREST_PAYOUT">
                                <label nz-radio [nzValue]="'M'">Monthly</label>
                                <label nz-radio [nzValue]="'Q'">Quarterly</label>
                                <label nz-radio [nzValue]="'H'">Half Yearly</label>
                                <label nz-radio [nzValue]="'Y'">Yearly</label>
                                <label nz-radio [nzValue]="'O'">On Maturity</label>

                            </nz-radio-group>

                        </nz-form-control>

                    </nz-form-item>

                    <!-- <nz-form-item nz-col nzSpan="24">

                    <nz-form-label [nzNoColon]="true">Mode of Interest Payout</nz-form-label>
                    <nz-form-control>

                        <nz-radio-group [(ngModel)]="depositInfo.MODE_OF_INTEREST_PAYOUT">
                            <label nz-radio [nzValue]="S">Standing Instructions</label>
                            <label nz-radio [nzValue]="E">ECS</label>
                            <label nz-radio [nzValue]="P">Pay Order</label>
                            <label nz-radio [nzValue]="O">Other Bank Account</label>
                        </nz-radio-group>

                    </nz-form-control>

                </nz-form-item> -->

                    <nz-form-item nz-col nzSpan="24">
                        <p>Auto Renewal ? <span><nz-switch [(ngModel)]="depositInfo.AUTO_RENEWAL"
                                    nzCheckedChildren="Yes" nzUnCheckedChildren="No"
                                    [disabled]="depositInfo.ACCOUNT_TYPE == 'F'"></nz-switch></span></p>
                    </nz-form-item>


                </div>
            </nz-collapse-panel>
        </nz-collapse>


        <nz-collapse nzAccordion class="ant-collapse-custom">
            <nz-collapse-panel [nzHeader]="headerTpl3" [nzActive]="true">
                <ng-template #headerTpl3>
                    <div class="applicant-header">
                        <span nz-icon nzType="user" nzTheme="outline"></span> Bank Details
                    </div>
                </ng-template>
                <div class="box">
                    <nz-form-item nz-col nzSpan="24">

                        <nz-form-label [nzNoColon]="true" nzRequired>Bank Name</nz-form-label>
                        <nz-form-control>
                            <input nz-input name="bank_name" [(ngModel)]="depositInfo.DEPOSIT_BANK_NAME" placeholder="Enter Bank Name" />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item nz-col nzSpan="13">

                        <nz-form-label [nzNoColon]="true" nzRequired>Branch Name</nz-form-label>
                        <nz-form-control>
                            <input nz-input name="branch_name" [(ngModel)]="depositInfo.DEPOSIT_BRANCH_NAME" placeholder="Enter Branch Name" />
                        </nz-form-control>
                    </nz-form-item>

                    <div nz-col nzSpan="1">
                    </div>

                    <nz-form-item nz-col nzSpan="10">

                        <nz-form-label [nzNoColon]="true" nzRequired>IFSC Code</nz-form-label>
                        <nz-form-control>
                            <input nz-input name="ifsc" [(ngModel)]="depositInfo.DEPOSIT_IFSC_CODE" placeholder="Enter IFSC Code" />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item nz-col nzSpan="13">

                        <nz-form-label [nzNoColon]="true" nzRequired>Account Number</nz-form-label>
                        <nz-form-control>
                            <input nz-input name="account_no" [(ngModel)]="depositInfo.DEPOSIT_ACCOUNT_NUMBER" placeholder="Enter Account Number" />
                        </nz-form-control>
                    </nz-form-item>



                </div>
            </nz-collapse-panel>
        </nz-collapse>


    </div>

</div>