<div nz-row>
  <div nz-col nzSpan="12">
    <nz-list>
      <nz-list-item *ngFor="let applicant of ApplicantData">
        <ng-container>
          <nz-list-item-meta [nzAvatar]="applicant.IMAGE_DATA"
            [nzDescription]="applicant.FIRST_NAME+' '+applicant.MIDDLE_NAME+ ' ' +applicant.LAST_NAME">
          </nz-list-item-meta>
          <ul nz-list-item-actions>
            <!-- <nz-list-item-action><a (click)="takePicture(applicant)"><span nz-icon nzType="camera"
                                    nzTheme="fill" style="font-size: large;"></span></a></nz-list-item-action> -->
            <nz-list-item-action>
              <a (click)="openDocuments(applicant)">
                Upload Documents
              </a>
            </nz-list-item-action>
          </ul>
        </ng-container>
      </nz-list-item>
    </nz-list>
  </div>
</div>

<ng-template #webCamDrawerTemp let-drawerRef="drawerRef">

  <div class="cam-card_2" *ngIf="showCamera && !ImageData.IMAGE_DATA">

    <webcam [width]="640" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showCamera"
      [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions"
      [imageQuality]="4" (cameraSwitched)="cameraWasSwitched($event)" (initError)="handleInitError($event)">
    </webcam>

    <div nz-row style="padding-top: 10px;padding-bottom: 10px;">
      <div nz-col nzSpan="5">
        <button nz-button nzType="primary" (click)="triggerSnapshot()">Take a picture</button>
      </div>
      <div nz-col nzSpan="5">
        <button nz-button nzType="primary" (click)="showNextWebcam(true);">Switch Camera</button>
      </div>
      <div nz-col nzSpan="14" style="text-align: right;">
        <button nz-button nzType="default" (click)="drawerReferance.close()">Close</button>
      </div>
    </div>
  </div>

  <div class="cam-card_2" *ngIf="showImage && ImageData.IMAGE_DATA">
    <img [src]="ImageData.IMAGE_DATA" />


    <div nz-row style="padding-top: 10px;padding-bottom: 10px;">
      <div nz-col nzSpan="14">
        <nz-form-item>
          <!-- <nz-form-label [nzNoColon]="true">Document Name</nz-form-label> -->
          <nz-form-control>
            <input nz-input name="document" [(ngModel)]="ImageData.MAKER_REMARK"
              placeholder="Enter Remark or description for document" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="1"></div>
      <div nz-col nzSpan="6">
        <button nz-button nzType="primary" (click)="reCapture()">Re-Capture Image</button>
      </div>
      <div nz-col nzSpan="3" style="text-align:right">
        <button nz-button nzType="primary" (click)="save()">Save</button>
      </div>
    </div>
  </div>

</ng-template>

<ng-template #documentAddTpl let-drawerRef="drawerRef">
  <div nz-row *ngIf="ROLE_ID == 1">
    <div nz-col nzSpan="6">

      <nz-form-item>
        <nz-form-label nzRequired [nzNoColon]="true">Document Name</nz-form-label>
        <nz-form-control>
          <input nz-input name="document" [(ngModel)]="SingleDocument.DOCUMENT_NAME"
            placeholder="Enter the name of new Document" />
        </nz-form-control>
      </nz-form-item>

    </div>
    <div nz-col nzSpan="1"></div>
    <div nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label nzRequired [nzNoColon]="true">Maker Remark</nz-form-label>
        <nz-form-control>
          <input nz-input name="document" [(ngModel)]="SingleDocument.MAKER_REMARK"
            placeholder="Enter Remark or description for document" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="1"></div>

    <div nz-col nzSpan="6">
      <nz-form-item nz-row>
        <nz-form-label nzNoColon>
        </nz-form-label>
        <nz-form-control nz-col nzSpan="24">
          <button nz-button nzType="primary" (click)="createDocument()">
            <span nz-icon nzType="plus-circle" nzTheme="outline" style="font-size: large;"></span>
            New Document
          </button>
        </nz-form-control>
      </nz-form-item>

    </div>

    <div nz-col nzSpan="4">

    </div>

  </div>

  <nz-table [nzData]="DocumentTableData" style="margin-top: 20px;" nzBordered #table nzShowSizeChanger
    [nzFrontPagination]="false" [nzLoading]="loadDocumentTable" [nzScroll]="{ x: '100%' }">

    <thead nzSingleSort>
      <tr>
        <th [nzWidth]="'200px'" [nzAlign]="'center'">Upload Document</th>
        <th [nzWidth]="'100px'" [nzAlign]="'center'">View</th>
        <th [nzWidth]="'250px'" [nzAlign]="'center'">Document name</th>
        <th [nzWidth]="'200px'" [nzAlign]="'center'">Approved by Checker</th>
        <th [nzWidth]="'200px'" [nzAlign]="'center'">Approved by Verifier</th>
        <th [nzWidth]="'400px'" [nzAlign]="'center'">Remark (Maker)</th>
        <th [nzWidth]="'400px'" [nzAlign]="'center'">Remark (Checker)</th>
        <th [nzWidth]="'400px'" [nzAlign]="'center'">Remark (Verifier)</th>

      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let document of table.data">
        <td>

          <a (click)="takePicture(document)"><span nz-icon nzType="camera" nzTheme="fill" style="font-size: large;"
              nz-tooltip nzTooltipTitle="Take Image of Document."></span></a>


          <nz-divider nzType="vertical"></nz-divider>

          <a>
            <span nz-icon nzType="upload" nzTheme="outline" style="font-size: large;" (click)="fileInput.click()"
              nz-tooltip nzTooltipTitle="Upload Document from Computer."></span>
          </a>

          <input #fileInput type="file" (change)="handleChange($event,document)" (click)="fileInput.value = ''" value=""
            style="display:none;" accept=".jpeg,.jpg" />

        </td>
        <td>
          <a (click)="ViewDocument(document)" *ngIf="document.IMAGE_DATA"><span nz-icon nzType="eye" nzTheme="outline"
              style="font-size: large;" nz-tooltip nzTooltipTitle="View Document"></span></a>
          <span *ngIf="!document.IMAGE_DATA">
            <span nz-icon nzType="eye-invisible" nzTheme="outline" style="color: #f10404;font-size: large;" nz-tooltip
              nzTooltipTitle="Upload Document To View."></span>
          </span>
        </td>
        <td>
          {{document.DOCUMENT_NAME}}
        </td>

        <td>
          <i nz-icon nzType="check-circle" style="color: #00b963;" *ngIf="document.IS_APPROVED_CHECKER"></i>
          <i nz-icon nzType="close-circle" style="color: #f10404;" *ngIf="!document.IS_APPROVED_CHECKER"></i>
        </td>

        <td>
          <i nz-icon nzType="check-circle" style="color: #00b963;" *ngIf="document.IS_APPROVED_VERIFIER"></i>
          <i nz-icon nzType="close-circle" style="color: #f10404;" *ngIf="!document.IS_APPROVED_VERIFIER"></i>
        </td>


        <td>{{document.MAKER_REMARK}}</td>
        <td>{{document.CHECKER_REMARK}}</td>
        <td>{{document.VERIFIER_REMARK}}</td>
      </tr>
    </tbody>

  </nz-table>


  <nz-form-item nz-col nzSpan="24" *ngIf="show_remark">
    <nz-form-label nzRequired [nzNoColon]="true">Remark</nz-form-label>
    <nz-form-control>
      <div nz-row>
        <textarea rows="2" nz-input [(ngModel)]="REMARK"></textarea>
      </div>
    </nz-form-control>
  </nz-form-item>

</ng-template>

<ng-template #DocumentFooter>
  <div style="float: right">
    <button nz-button nzType="primary" (click)="Save()" style="margin-right: 10px;">
      <span>
        Save
      </span>
    </button>

  </div>
</ng-template>

<ng-template #DocumentHeader>

  <div nz-row *ngIf="ROLE_ID == 3">
    <div nz-col nzSpan="9">
      <nz-switch [(ngModel)]="current_Doc.IS_APPROVED_VERIFIER" [nzCheckedChildren]="checkedTemplate"
        [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
      <ng-template #checkedTemplate>Accept</ng-template>
      <ng-template #unCheckedTemplate>Reject</ng-template>
    </div>

    <!-- <div nz-col nzSpan="1"></div> -->

    <div nz-col nzSpan="15">
      <span>
        <textarea nz-input [(ngModel)]="current_Doc.VERIFIER_REMARK" placeholder="Remark" rows="1"></textarea>
      </span>
    </div>
  </div>


  <div nz-row *ngIf="ROLE_ID == 2">
    <div nz-col nzSpan="9">

      <nz-switch [(ngModel)]="current_Doc.IS_APPROVED_CHECKER" [nzCheckedChildren]="checkedTemplate"
        [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
      <ng-template #checkedTemplate>Accept</ng-template>
      <ng-template #unCheckedTemplate>Reject</ng-template>
    </div>

    <!-- <div nz-col nzSpan="1"></div> -->

    <div nz-col nzSpan="14">
      <span>
        <textarea nz-input [(ngModel)]="current_Doc.CHECKER_REMARK" placeholder="Remark" rows="1"></textarea>
      </span>
    </div>
  </div>

</ng-template>

<ng-template #documentShowTpl let-drawerRef="drawerRef">

  <div class="cam-card" *ngIf="file_type != 'application/pdf' && file_type" nz-row>
    <div class="image-area" nz-col nzSpan="22">
      <div class="image-area-2">
        <img id="img" [src]="FileSrc" />
      </div>

    </div>

    <div class="side-area" nz-col nzSpan="2">

      <div class="side-menu">
        <div nz-row class="icon-container">
          <div nz-col nzSpan="24" class="icon-container-2">
            <span nz-icon nzType="plus" class="menu-icon" (click)="zoomIn()"></span>
          </div>

          <div nz-col nzSpan="24" class="icon-container-2">
            <span nz-icon nzType="minus" class="menu-icon" (click)="zoomOut()"></span>
          </div>

          <div nz-col nzSpan="24" class="icon-container-2">
            <span nz-icon nzType="rotate-right" class="menu-icon" (click)="rotateRight()"></span>
          </div>

          <div nz-col nzSpan="24" class="icon-container-2">
            <span nz-icon nzType="rotate-left" class="menu-icon" (click)="rotateLeft()"></span>
          </div>

          <div nz-col nzSpan="24" class="icon-container-2">
            <span nz-icon nzType="border" class="menu-icon" (click)="removeFilters()"></span>
          </div>

          <nz-divider></nz-divider>

          <div nz-col nzSpan="24">
            <span nz-icon nzType="download" class="menu-icon" (click)="download()"></span>
          </div>

        </div>
      </div>

    </div>

  </div>

  <div *ngIf="file_type == 'application/pdf'" nz-row>
    <div nz-col nzSpan="24" style="text-align: right;margin-bottom: 20px;">
      <button nz-button nzType="primary" (click)="download()">Download PDF</button>
    </div>

    <pdf-viewer [src]="FileSrc" [render-text]="true" [original-size]="false" style="width: 100%; height:400px">

    </pdf-viewer>

  </div>

  <div style="margin-top: 20px;width:640px">
    <nz-form-item>
      <nz-form-control>
        <input nz-input name="document" [(ngModel)]="current_Doc.MAKER_REMARK"
          placeholder="Enter Remark or description for document" />
      </nz-form-control>
    </nz-form-item>
  </div>

</ng-template>

<ng-template #SendToRefillFooter>
  <div style="float: right">
    <button nz-button nzType="primary" (click)="SendToRefill()" style="margin-right: 10px;">
      <span>
        Send to Refill
      </span>
    </button>

  </div>
</ng-template>
