<div nz-row>
    <div nz-col nzSpan="7"></div>
    <div nz-col nzSpan="8">
        <nz-spin [nzSpinning]="isSpinning">
            <div class="box">

                <nz-divider nzText="Reset Password"></nz-divider>


                <div nz-row class="content-box">
                    <div nz-col nzSpan="24" style="text-align: left;">
                        <button nz-button nzType="link" (click)="passwordResetEvent.emit(false)"> <span nz-icon
                                nzType="arrow-left" nzTheme="outline"></span> Go to Login</button>
                    </div>

                    <nz-form-item nz-col nzSpan="24">
                        <nz-form-label nzRequired [nzNoColon]="true">User Name</nz-form-label>
                        <nz-form-control>
                            <input nz-input name="USER_NAME" [(ngModel)]="passwordReset.USER_NAME">
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item nz-col nzSpan="24">
                        <nz-form-label nzRequired [nzNoColon]="true">Old Password</nz-form-label>
                        <nz-form-control>
                            <nz-input-group [nzSuffix]="suffixTemplateOldPass">
                                <input nz-input [type]="oldPasswordVisible ? 'text':'password'" name="OLD_PASSWORD"
                                    [(ngModel)]="passwordReset.OLD_PASSWORD">
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item nz-col nzSpan="24">
                        <nz-form-label nzRequired [nzNoColon]="true">New Password</nz-form-label>
                        <nz-form-control>
                            <nz-input-group [nzSuffix]="suffixTemplateNewPass" [nzStatus]="newPasswordStatus">
                                <input nz-input [type]="newPasswordVisible ? 'text':'password'" name="NEW_PASSWORD"
                                    [(ngModel)]="passwordReset.NEW_PASSWORD" (ngModelChange)="newPasswordChange()">
                            </nz-input-group>
                        </nz-form-control>
                        <span style="color: red;" *ngIf="newPasswordStatus == 'error'">{{validationString}}</span>
                    </nz-form-item>

                    <nz-form-item nz-col nzSpan="24">
                        <nz-form-label nzRequired [nzNoColon]="true">Repeat New Password</nz-form-label>
                        <nz-form-control>
                            <nz-input-group [nzSuffix]="suffixTemplateRepeatPass" [nzStatus]="repeatPasswordStatus">
                                <input nz-input [type]="repeatPasswordVisible ? 'text':'password'"
                                    name="NEW_PASSWORD_REPEAT" [(ngModel)]="passwordReset.NEW_PASSWORD_REPEAT"
                                    (ngModelChange)="repeatPasswordChange()">
                            </nz-input-group>
                        </nz-form-control>
                        <span style="color: red;font-size: 100;" *ngIf="repeatPasswordStatus == 'error'">Passwords don't
                            match</span>
                    </nz-form-item>

                    <ng-template #suffixTemplateOldPass>
                        <span nz-icon [nzType]="oldPasswordVisible ? 'eye-invisible' : 'eye'"
                            (click)="oldPasswordVisible = !oldPasswordVisible"></span>
                    </ng-template>

                    <ng-template #suffixTemplateNewPass>
                        <span nz-icon [nzType]="newPasswordVisible ? 'eye-invisible' : 'eye'"
                            (click)="newPasswordVisible = !newPasswordVisible"></span>
                    </ng-template>

                    <ng-template #suffixTemplateRepeatPass>
                        <span nz-icon [nzType]="repeatPasswordVisible ? 'eye-invisible' : 'eye'"
                            (click)="repeatPasswordVisible = !repeatPasswordVisible"></span>
                    </ng-template>


                    <div nz-col nzSpan="24" style="text-align: right;">
                        <button nz-button nzType="primary" style="width:100%" (click)="save()">Update Password
                        </button>
                    </div>

                </div>
            </div>
        </nz-spin>
    </div>
    <div nz-col nzSpan="9">
        <div nz-row>
            <div nz-col nzSpan="4"></div>
            <div nz-col nzSpan="16">
                <div class="box">

                    <nz-divider nzText=""></nz-divider>


                    <div nz-row class="content-box">
                        <h4><span nz-icon nzType="info-circle" nzTheme="outline"></span> Password must contain the following : </h4>

                        <ul>
                            <li *ngIf="passwordPolicyStrObj.capital_letter">{{passwordPolicyStrObj.capital_letter}}</li>
                            <li *ngIf="passwordPolicyStrObj.small_letter">{{passwordPolicyStrObj.small_letter}}</li>
                            <li *ngIf="passwordPolicyStrObj.number">{{passwordPolicyStrObj.number}}</li>
                            <li *ngIf="passwordPolicyStrObj.symbol">{{passwordPolicyStrObj.symbol}}</li>
                            <li *ngIf="passwordPolicyStrObj.passLength">{{passwordPolicyStrObj.passLength}}</li>
                        </ul>

                    </div>

                </div>
            </div>
            <div nz-col nzSpan="4"></div>
        </div>

    </div>
</div>