<div nz-row>
    <div nz-col nzSpan="6"></div>
    <div nz-col nzSpan="12">
        <div class="box">
            <!-- <nz-divider nzText="Set Password Policy"></nz-divider> -->
            <div nz-row class="content-box">

                <nz-form-item nz-col nzSpan="11">
                    <nz-form-label [nzNoColon]="true">Password Length</nz-form-label>
                    <nz-form-control>
                        <nz-input-number [(ngModel)]="passwordPolicy.PASSWORD_LENGTH" [nzMin]="0" [nzStep]="1"
                            style="width:100%;"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>

                <div nz-col nzSpan="2"></div>

                <nz-form-item nz-col nzSpan="11">
                    <nz-form-label [nzNoColon]="true">Password Reset Frequency (In Days)</nz-form-label>
                    <nz-form-control>
                        <nz-input-number [(ngModel)]="passwordPolicy.FR_PASSWORD_RESET" [nzMin]="0" [nzStep]="1"
                            style="width:100%;"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item nz-col nzSpan="11">
                    <nz-form-label [nzNoColon]="true">Small Letters Frequency (abc...)</nz-form-label>
                    <nz-form-control>
                        <nz-input-number [(ngModel)]="passwordPolicy.FR_SMALL_LETTERS" [nzMin]="0" [nzStep]="1"
                            style="width:100%;"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>

                <div nz-col nzSpan="2"></div>

                <nz-form-item nz-col nzSpan="11">
                    <nz-form-label [nzNoColon]="true">Capital Letters Frequency (ABC...)</nz-form-label>
                    <nz-form-control>
                        <nz-input-number [(ngModel)]="passwordPolicy.FR_CAPITAL_LETTERS" [nzMin]="0" [nzStep]="1"
                            style="width:100%;"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>


                <nz-form-item nz-col nzSpan="11">
                    <nz-form-label [nzNoColon]="true">Numbers Frequency (123...)</nz-form-label>
                    <nz-form-control>
                        <nz-input-number [(ngModel)]="passwordPolicy.FR_NUMBERS" [nzMin]="0" [nzStep]="1"
                            style="width:100%;"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>

                <div nz-col nzSpan="2"></div>

                <nz-form-item nz-col nzSpan="11">
                    <nz-form-label [nzNoColon]="true">Symbols Frequency (!@&$%...)</nz-form-label>
                    <nz-form-control>
                        <nz-input-number [(ngModel)]="passwordPolicy.FR_SYMBOLS" [nzMin]="0" [nzStep]="1"
                            style="width:100%;"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>

                <div nz-col nzSpan="24" style="text-align: right;">
                    <button nz-button nzType="primary" (click)="save()">Update Password Policy</button>
                </div>

            </div>
        </div>
    </div>
    <div nz-col nzSpan="6"></div>
</div>