<div nz-row *ngIf="ROLE_ID == 1">
    <div nz-col nzSpan="16"></div>
    <div nz-col nzSpan="8" style="text-align:right;">

        <button nz-button nzType="primary" nzJustify="end" (click)="openBasicDrawer()">
            <i nz-icon nzType="plus"></i>New Proposal
        </button>
    </div>
</div>

<div *ngIf="ROLE_ID == 3">
    <nz-card nzTitle="Filters" [nzExtra]="extraTemplate" class="box">
        <div nz-row [nzGutter]="[16, 16]">
            <div nz-col [nzSpan]="8">
                <nz-form-item>
                    <nz-form-label [nzNoColon]="true">Select Branch</nz-form-label>
                    <nz-form-control>
                        <nz-select [(ngModel)]="cpcFilter.BRANCH_ID">
                            <nz-option [nzValue]="0" [nzLabel]="'All'"></nz-option>
                            <nz-option *ngFor="let option of BRANCH_LIST" [nzValue]="option.ID"
                                [nzLabel]="option.BRANCH_NAME"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="8">
                <nz-form-item>
                    <nz-form-label [nzNoColon]="true">Select Status</nz-form-label>
                    <nz-form-control>
                        <nz-select [(ngModel)]="cpcFilter.TRACK_ID">
                            <nz-option [nzValue]="0" [nzLabel]="'All'"></nz-option>
                            <nz-option *ngFor="let option of STATUS_LIST" [nzValue]="option.ID"
                                [nzLabel]="option.NAME"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="8">
                <nz-form-item>
                    <nz-form-label [nzNoColon]="true">Application Date</nz-form-label>
                    <nz-form-control>
                        <nz-range-picker [(ngModel)]="dateRange" nzFormat="dd-MM-yyyy"></nz-range-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="8">
                <nz-form-item>
                    <nz-form-label [nzNoColon]="true">DBT Required</nz-form-label>
                    <nz-form-control>
                        <nz-select [(ngModel)]="cpcFilter.IS_AADHAAR_DBT">
                            <nz-option [nzValue]="0" [nzLabel]="'All'"></nz-option>
                            <nz-option [nzValue]="'Y'" [nzLabel]="'Yes'"></nz-option>
                            <nz-option [nzValue]="'N'" [nzLabel]="'No'"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </nz-card>
    <ng-template #extraTemplate>
        <nz-button-group>
            <button nz-tooltip nzTooltipTitle="Apply Filter" nz-button nzType="primary" (click)="applyFilter()"><i
                    nz-icon nzType="filter"></i></button>
            <button nz-button nzType="default" nz-tooltip nzTooltipTitle="Clear Filter" (click)="clearFilter()"><i
                    nz-icon nzType="clear"></i></button>
        </nz-button-group>
    </ng-template>
</div>


<div nz-row *ngIf="ROLE_ID == 3">
    <div nz-col nzSpan="16"></div>
    <div nz-col nzSpan="8" style="text-align:right;">

        <button nz-button nzType="primary" nzJustify="end" (click)="downloadExcel()">
            <i nz-icon nzType="file-excel"></i> Export Excel
        </button>
    </div>
</div>


<nz-table [nzData]="DraftsData" [nzTotal]="dataCount" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="getDrafts()" (nzPageSizeChange)="getDrafts()" [nzScroll]="{ y: '59vh' }" nzBordered #table
    nzShowSizeChanger [nzFrontPagination]="false" [nzLoading]="TableLoading" style="margin-top: 20px;">
    <thead nzSingleSort>
        <tr>
            <th [nzWidth]="'100px'" [nzAlign]="'center'">Action</th>
            <th [nzWidth]="'120px'" [nzAlign]="'center'">Information</th>
            <th [nzWidth]="'130px'" [nzAlign]="'center'">Upload Documents</th>
            <th [nzWidth]="'80px'" [nzAlign]="'center'">Forms</th>
            <th [nzWidth]="'100px'" [nzAlign]="'center'">Customer ID</th>
            <th [nzWidth]="'140px'" [nzAlign]="'center'">Account No</th>
            <th [nzWidth]="'400px'" [nzAlign]="'center'">Applicant 1 Name</th>
            <th [nzWidth]="'150px'" [nzAlign]="'center'">Mobile Number</th>
            <th [nzWidth]="'200px'" [nzAlign]="'center'">Email ID</th>
            <th [nzWidth]="'140px'" [nzAlign]="'center'" *ngIf="ROLE_ID == 3">
                Branch
                <!-- for cpc -->
            </th>
            <th [nzWidth]="'140px'" [nzAlign]="'center'">Account Type</th>
            <th [nzWidth]="'200px'" [nzAlign]="'center'">Applicant 1 Aadhaar</th>
            <th [nzWidth]="'140px'" [nzAlign]="'center'">DBT Required</th>
            <th [nzWidth]="'200px'" [nzAlign]="'center'">Applicant 1 PAN</th>
            <th [nzWidth]="'200px'" [nzAlign]="'center'">Status</th>
            <th [nzWidth]="'200px'" [nzAlign]="'center'">Date of Application</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let proposal of table.data">
            <td>
                <a *ngIf="userDetails.ROLE_ID == 3 && !proposal.VERIFIER_USER_ID && proposal.TRACK_ID == 3"
                    (click)="pick(proposal)">Pick</a>
                <a *ngIf="userDetails.ROLE_ID == 3 && proposal.VERIFIER_USER_ID && proposal.TRACK_ID == 3"
                    (click)="unpick(proposal)">Re-assign</a>
            </td>
            <td>
                <a (click)="openTabsDrawer(proposal)"
                    *ngIf="userDetails.ROLE_ID != 3 || (userDetails.ROLE_ID == 3 && proposal.VERIFIER_USER_ID)"> <i
                        nz-icon nzType="edit"></i></a>
            </td>
            <td>
                <a (click)="openUploadDrawer(proposal)"
                    *ngIf="userDetails.ROLE_ID != 3 || (userDetails.ROLE_ID == 3 && proposal.VERIFIER_USER_ID)"> <i
                        nz-icon nzType="file-add"></i></a>
            </td>
            <td>
                <a (click)="openFormDrawer(proposal)"
                    *ngIf="userDetails.ROLE_ID != 3 || (userDetails.ROLE_ID == 3 && proposal.VERIFIER_USER_ID)"> <i
                        nz-icon nzType="file-text"></i></a>
            </td>
            <td>{{proposal.CUSTOMER_ID_1}}</td>
            <td>{{proposal.ACCOUNT_NUMBER}}</td>

            <td>{{proposal.PRIMARY_APPLICANT_FIRST_NAME}} {{proposal.PRIMARY_APPLICANT_MIDDLE_NAME}}
                {{proposal.PRIMARY_APPLICANT_LAST_NAME}}
            </td>
            <td>{{proposal.MOBILE_NO}}</td>
            <td>{{proposal.EMAIL_ID}}</td>
            <td *ngIf="ROLE_ID == 3">
                <!-- branch name for cpc -->
                {{getBranchName(proposal.CREATED_BRANCH_ID)}}
            </td>

            <td>
                <span *ngFor="let deposit of depositeInfo">
                    <span *ngIf="deposit.APPLICANT_ID == proposal.ID">
                        {{getAccountType(deposit.ACCOUNT_TYPE)}}
                    </span>
                </span>
            </td>
            <td>{{proposal.AADHAAR_NO_1}}</td>
            <td>{{proposal.IS_AADHAAR_DBT ? "Yes":"No"}}</td>
            <td>{{proposal.PAN_NUMBER}}</td>
            <td>
                <a *ngIf="ROLE_ID == 4" (click)="editStatusFn(proposal)">

                    <span nz-icon nzType="edit"></span>
                </a>
                {{getStatusName(proposal.TRACK_ID)}}
            </td>

            <td>{{proposal.APPLICATION_DATE | date:"dd/MM/yyyy"}}</td>
        </tr>
    </tbody>
</nz-table>

<ng-template #editStatus>
    <app-edit-status></app-edit-status>
</ng-template>


<ng-template #drawerTemplate let-drawerRef="drawerRef">
    <app-personal></app-personal>
</ng-template>

<ng-template #footerTpl>
    <div style="float: right">
        <button nz-button style="margin-right: 8px;" (click)="drawerReferance.close()">Cancel</button>
        <button nz-button nzType="primary" (click)="createProposal()" [nzLoading]="loadSaveButton">Submit</button>
    </div>
</ng-template>


<ng-template #addAccountDrawerTemp let-drawerRef="drawerRef">
    <app-add-account (AccountCreationStatus)="accountCreationEvent($event)" (ChangeIndex)="changeIndex($event)"
        (CloseDrawer)="closeDrawer()" [BasicInfo]="drawerDraftData" [Tabs]="Tabs"></app-add-account>
</ng-template>

<ng-template #footerTpl2>
    <div style="float: right">
        <button nz-button nzType="default" (click)="previous()" style="margin-right: 10px;" *ngIf="selectedIndex != 0">
            Previous
        </button>


        <button nz-button nzType="primary" (click)="saveANext()">

            <span *ngIf="Tabs && Tabs.length > 0 && selectedIndex != Tabs.length - 1">
                Save and Next
            </span>

            <span *ngIf="Tabs && Tabs.length > 0 && selectedIndex == Tabs.length - 1">
                Send to Verify
            </span>

        </button>

    </div>
</ng-template>

<ng-template #noActionTpl>
    <div style="float: right">
        <button nz-button nzType="default" (click)="previous()" style="margin-right: 10px;" *ngIf="selectedIndex != 0">
            Previous
        </button>



        <button nz-button nzType="primary" (click)="next()">

            <span *ngIf="Tabs && Tabs.length > 0 && selectedIndex != Tabs.length - 1">
                Next
            </span>

            <span *ngIf="Tabs && Tabs.length > 0 && selectedIndex == Tabs.length - 1">
                Close
            </span>

        </button>
    </div>
</ng-template>

<ng-template #TabFooterTplChecker>

    <div style="float: right">
        <button nz-button nzType="default" (click)="previous()" style="margin-right: 10px;" *ngIf="selectedIndex != 0">
            Previous
        </button>


        <span *ngIf="Tabs && Tabs.length > 0 && selectedIndex < Tabs.length - 1">
            <button nz-button nzType="primary" (click)="sendTorefill('C')" *ngIf="Tabs[selectedIndex] && Tabs[selectedIndex].SEND_TO_REFILL">
                <span>
                    Send to refill and Next
                </span>
            </button>

            <button nz-button nzType="primary" (click)="Accept('C')" *ngIf="Tabs[selectedIndex] && !Tabs[selectedIndex].SEND_TO_REFILL">
                <span>
                    Accept and Next
                </span>
            </button>
        </span>

        <span *ngIf="Tabs && Tabs.length > 0 && selectedIndex == Tabs.length - 1">
            <button nz-button [nzLoading]="checkerButtonLoading" nzType="primary" (click)="completeChecker()">
                {{verifyButtonTitle}}
            </button>
        </span>

    </div>

</ng-template>


<ng-template #tabHeaderTamplete>

    <div nz-row *ngIf="Tabs && Tabs.length > 0 && selectedIndex != Tabs.length - 1">

        <div nz-col nzSpan="10">
            Send to refill
            <nz-switch [(ngModel)]="Tabs[selectedIndex].SEND_TO_REFILL" (ngModelChange)="changeTabStatus($event)"
                [nzCheckedChildren]="checkedTemplate" [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
            <ng-template #checkedTemplate><span nz-icon nzType="check"></span></ng-template>
            <ng-template #unCheckedTemplate><span nz-icon nzType="close"></span></ng-template>
        </div>

        <div nz-col nzSpan="1"></div>

        <div nz-col nzSpan="13">
            <span>
                <textarea nz-input [(ngModel)]="Tabs[selectedIndex].CHECKER_REMARK" placeholder="Remark"
                    nzAutosize></textarea>
            </span>
        </div>

    </div>

</ng-template>

<ng-template #tabHeaderVerifierTamplete>

    <div nz-row *ngIf="Tabs && Tabs.length > 0 && selectedIndex != Tabs.length - 1">

        <div nz-col nzSpan="10">
            Send to refill
            <nz-switch [(ngModel)]="Tabs[selectedIndex].SEND_TO_REFILL" (ngModelChange)="changeTabStatus($event)"
                [nzCheckedChildren]="checkedTemplate" [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
            <ng-template #checkedTemplate><span nz-icon nzType="check"></span></ng-template>
            <ng-template #unCheckedTemplate><span nz-icon nzType="close"></span></ng-template>
        </div>

        <div nz-col nzSpan="1"></div>

        <div nz-col nzSpan="13">
            <span>
                <textarea nz-input [(ngModel)]="Tabs[selectedIndex].VERIFIER_REMARK" placeholder="Remark"
                    nzAutosize></textarea>
            </span>
        </div>

    </div>

</ng-template>

<ng-template #TabFooterTplVerifier>

    <div style="float: right">
        <button nz-button nzType="default" (click)="previous()" style="margin-right: 10px;" *ngIf="selectedIndex != 0">
            Previous
        </button>


        <span *ngIf="Tabs && Tabs.length > 0 && selectedIndex < Tabs.length - 1">
            <button nz-button nzType="primary" (click)="sendTorefill('V')" *ngIf="Tabs[selectedIndex] && Tabs[selectedIndex].SEND_TO_REFILL">
                <span>
                    Send to refill and Next
                </span>
            </button>

            <button nz-button nzType="primary" (click)="Accept('V')" *ngIf="Tabs[selectedIndex] && !Tabs[selectedIndex].SEND_TO_REFILL">
                <span>
                    Accept and Next
                </span>
            </button>
        </span>

        <span *ngIf="Tabs && Tabs.length > 0 && selectedIndex == Tabs.length - 1">
            <button nz-button [nzLoading]="accountCreateButtonLoading" nzType="primary" (click)="completeVerifier()">
                {{verifyButtonTitle}}
            </button>
        </span>

    </div>

</ng-template>


<ng-template #tabHeaderMakerTamplete>

    <div nz-row
        *ngIf="Tabs && Tabs.length > 0 && Tabs[selectedIndex] && Tabs[selectedIndex].SEND_TO_REFILL && Tabs[selectedIndex].SEND_TO_REFILL_COUNT > 0 && selectedIndex != Tabs.length - 1">

        <div nz-col nzSpan="10">
            Send to refill
            <nz-switch [disabled]="true" [(ngModel)]="Tabs[selectedIndex].SEND_TO_REFILL"
                (ngModelChange)="changeTabStatus($event)" [nzCheckedChildren]="checkedTemplate"
                [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
            <ng-template #checkedTemplate><span nz-icon nzType="check"></span></ng-template>
            <ng-template #unCheckedTemplate><span nz-icon nzType="close"></span></ng-template>
        </div>

        <div nz-col nzSpan="1"></div>

        <div nz-col nzSpan="13">
            <span *ngIf="Tabs[selectedIndex].REFILL_BY == 3">
                <textarea [disabled]="true" nz-input [(ngModel)]="Tabs[selectedIndex].VERIFIER_REMARK"
                    placeholder="Remark" nzAutosize></textarea>
            </span>

            <span *ngIf="Tabs[selectedIndex].REFILL_BY == 2">
                <textarea [disabled]="true" nz-input [(ngModel)]="Tabs[selectedIndex].CHECKER_REMARK"
                    placeholder="Remark" nzAutosize></textarea>
            </span>
        </div>

    </div>

</ng-template>



<ng-template #formDrawerTemp let-drawerRef="drawerRef">
    <app-form [APPLICANT_ID]="APPLICANT_ID" style="width:100% !important"
        (pdfButtonLoading)="pdfLoading($event)"></app-form>
</ng-template>

<ng-template #footerTpl3>
    <div style="float: right">
        <button nz-button style="margin-right: 8px;" (click)="drawerReferance.close()">Cancel</button>
        <button nz-button nzType="primary" (click)="downloadPDF()" [nzLoading]="loadPdfButton">Download PDF</button>
    </div>
</ng-template>

<ng-template #docDrawerTemp let-drawerRef="drawerRef">
    <app-web-cam [APPLICANT_ID]="APPLICANT_ID" [basicInfo]="basicInfo"></app-web-cam>
</ng-template>

<ng-template #footerTpl4>
    <div style="float: right">
        <button nz-button style="margin-right: 8px;" (click)="drawerReferance.close()">Cancel</button>
        <button nz-button nzType="primary" (click)="saveUploadDrawer()">Save</button>
    </div>
</ng-template>