<div nz-row>
    <div nz-col nzSpan="24">
        <div class="box">
            <nz-divider nzText="Yearly Income"></nz-divider>
            <div nz-row class="content-box">

                <nz-form-item nz-col nzSpan="24">

                    <nz-form-control>
                        <nz-form-label nzRequired [nzNoColon]="true">Income Information</nz-form-label>
                        <!-- <nz-select nzShowSearch nzPlaceHolder="Select Income"
                            [(ngModel)]="financialInfo.INCOME" style="width: 100%;">
                            <nz-option *ngFor="let income of incomeList" [nzValue]="income.value"
                                [nzLabel]="income.label">
                            </nz-option>
                        </nz-select> -->

                        <input type="text" nz-input name="INCOME" [(ngModel)]="financialInfo.INCOME">

                    </nz-form-control>
                </nz-form-item>


            </div>
        </div>
    </div>
</div>