<div class="box">

    <nz-divider nzText="Details of Existing Bank Accounts"></nz-divider>
    <div nz-row class="content-box">
        <nz-form-item nz-col nzSpan="24">
            <nz-form-label [nzNoColon]="true">Name of the Bank</nz-form-label>
            <nz-form-control>
                <input nz-input name="nob" [(ngModel)]="accountInfo.NAME_OF_BANK" placeholder="Enter Name of the Bank" />
            </nz-form-control>
        </nz-form-item>



        <nz-form-item nz-col nzSpan="24">
            <nz-form-label [nzNoColon]="true">Branch Name</nz-form-label>
            <nz-form-control>
                <nz-input-group>
                    <input nz-input name="bn" [(ngModel)]="accountInfo.BRANCH_NAME" placeholder="Enter Branch Name" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item nz-col nzSpan="24">
            <nz-form-label [nzNoColon]="true">Account No.</nz-form-label>
            <nz-form-control>
                <nz-input-group>
                    <input nz-input name="ac" [(ngModel)]="accountInfo.ACCOUNT_NO" placeholder="Enter Account No." />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

    </div>
</div>

<div class="box">
    <div nz-row class="content-box">
        <nz-form-item nz-col nzSpan="24">
            <nz-form-label [nzNoColon]="true">Name of the Bank</nz-form-label>
            <nz-form-control>
                <input nz-input [(ngModel)]="accountInfo.NAME_OF_BANK2" name="nob2" placeholder="Enter Name of the Bank" />
            </nz-form-control>
        </nz-form-item>



        <nz-form-item nz-col nzSpan="24">
            <nz-form-label [nzNoColon]="true">Branch Name</nz-form-label>
            <nz-form-control>
                <nz-input-group>
                    <input nz-input name="bn2" [(ngModel)]="accountInfo.BRANCH_NAME2" placeholder="Enter Branch Name" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item nz-col nzSpan="24">
            <nz-form-label [nzNoColon]="true">Account No.</nz-form-label>
            <nz-form-control>
                <nz-input-group>
                    <input nz-input name="ac2"  [(ngModel)]="accountInfo.ACCOUNT_NO2" placeholder="Enter Account No." />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

    </div>
</div>


<div class="box">
    <div nz-row class="content-box">

        <nz-form-item nz-col nzSpan="24">
            <nz-form-label [nzNoColon]="true">Debit/Credit Card No.</nz-form-label>
            <nz-form-control>
                <input nz-input name="dccn" [(ngModel)]="accountInfo.DEBIT_CARD" placeholder="Enter Debit/Credit Card No." />
            </nz-form-control>
        </nz-form-item>



        <nz-form-item nz-col nzSpan="24">
            <nz-form-label [nzNoColon]="true">Name of the Bank</nz-form-label>
            <nz-form-control>
                <input nz-input name="nob3" [(ngModel)]="accountInfo.NAME_OF_BANK3" placeholder="Enter Name of the Bank" />
            </nz-form-control>
        </nz-form-item>

    </div>
</div>


<div class="box">
    <div nz-row class="content-box">

        <nz-form-item nz-col nzSpan="24">
            <nz-form-label [nzNoColon]="true">Debit/Credit Card No.</nz-form-label>
            <nz-form-control>
                <input nz-input name="dccn2" [(ngModel)]="accountInfo.DEBIT_CARD2" placeholder="Enter Debit/Credit Card No." />
            </nz-form-control>
        </nz-form-item>



        <nz-form-item nz-col nzSpan="24">
            <nz-form-label [nzNoColon]="true">Name of the Bank</nz-form-label>
            <nz-form-control>
                <input nz-input name="nob4" [(ngModel)]="accountInfo.NAME_OF_BANK4" placeholder="Enter Name of the Bank" />
            </nz-form-control>
        </nz-form-item>

    </div>
</div>