<nz-tabset [(nzSelectedIndex)]="selectedTab">

    <nz-tab [nzTitle]="disabledTabs[0].title" [nzDisabled]="disabledTabs[0].disabled">
        <app-applicant-personal [personalInfo]="personalInfo"></app-applicant-personal>
    </nz-tab>
    <nz-tab [nzTitle]="disabledTabs[2].title" [nzDisabled]="disabledTabs[2].disabled">
        <app-applicant-financial [APPLICANT_ID]="personalInfo.APPLICANT_ID" [APPLICANT_NO]="personalInfo.APPLICANT_NO"></app-applicant-financial>
    </nz-tab>

    <nz-tab [nzTitle]="disabledTabs[2].title" [nzDisabled]="disabledTabs[2].disabled">
        <app-applicant-property [APPLICANT_ID]="personalInfo.APPLICANT_ID" [APPLICANT_NO]="personalInfo.APPLICANT_NO"></app-applicant-property>
    </nz-tab>

    <!-- <nz-tab [nzTitle]="disabledTabs[3].title" [nzDisabled]="disabledTabs[3].disabled">
        <app-applicant-loan-info [APPLICANT_ID]="personalInfo.APPLICANT_ID" [APPLICANT_NO]="personalInfo.APPLICANT_NO"></app-applicant-loan-info>
    </nz-tab>

    <nz-tab [nzTitle]="disabledTabs[4].title" [nzDisabled]="disabledTabs[4].disabled">
        <app-applicant-other-bank-account [APPLICANT_ID]="personalInfo.APPLICANT_ID" [APPLICANT_NO]="personalInfo.APPLICANT_NO"></app-applicant-other-bank-account>
    </nz-tab> -->

</nz-tabset>
