<div nz-row [nzGutter]="[16, 16]" class="main-row">
  <div nz-col>
    <div class="box manage-applicants-box">
      <button nz-button nzType="primary" (click)="addApplicant()" class="add-applicant-btn" [disabled]="isGuardian && applicants.length >= 2">
        <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
        Add Applicant ({{applicants.length}})
      </button>
    </div>
  </div>
  <div nz-col [nzXs]="24" [nzMd]="24">
    <nz-collapse nzAccordion class="ant-collapse-custom">
      <nz-collapse-panel *ngFor="let applicantNo of applicants; let i = index" [nzHeader]="headerTpl"
        [nzActive]="i === 0" [nzExtra]="i > 0 ? removeTpl : undefined">
        <ng-template #headerTpl>
          <div class="applicant-header">
            <span nz-icon nzType="user" nzTheme="outline"></span>
            {{ isGuardian && i === 1 ? 'Guardian' : 'Applicant ' + applicantNo }} Information
          </div>
        </ng-template>
        <ng-template #removeTpl>
          <button nz-button nzType="text" nzDanger (click)="removeApplicant(applicantNo); $event.stopPropagation();">
            <span nz-icon nzType="delete"></span>Remove
          </button>
        </ng-template>
        <app-applicant [applicantNo]="applicantNo" [basicInfo]="basicInfo" [APPLICANT_ID]="APPLICANT_ID" (isMinor)="handleIsMinor($event)">
        </app-applicant>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
</div>
